{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    
    {% block content %}
    <nav class="nav nav-pills nav-fill bg-dark py-2">
        <a class="nav-link active text-light" aria-current="page" href="#">username: {{request.user}}</a>
        <a class="nav-link text-light" href="{% url 'todolist:show_todolist' %}">Todolist</a>
        <a class="nav-link text-light" href="{% url 'todolist:logout' %}">Logout</a>
      </nav>

      <h5 class="h6">Last login session: {{ last_login }}</h5>


    
    <div class="create-task">
        <form action="" method="POST">
            {%csrf_token%}

            <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center p-5 h-50">
                <div class="d-flex flex-column position-relative">
                    <div>
                        <label class="m-2 p-2">Judul</label>
                        <label class="m-2 p-2">{{form.title}}</label>
                        
                    </div>
                    <div>
                        <label class="m-2 p-2">Complate</label>
                        <label class="m-2 p-2">{{form.isFinished}}</label>
                    </div>

                    <div>
                        <label class="m-2 p-2">Deskripsi</label>
                        <label class="m-2 p-2">{{form.description}}</label>
                        
                    </div>
                </div>
                <input type="submit" name="submit" value="Simpan"/>
            </div>
            
        <br>
        
        
        </form>

    </div>
    
    
    
    {% endblock content %}





    
</body>
</html>
