{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
</head>
<body>
    {% block content %}
    
    <div class="position-absolute top-50 start-50 translate-middle h-50 d-flex flex-column align-items-center">

        <h1 class="m-3">Login</h1>
    
        <form method="POST" action="" class=" d-flex flex-column align-items-center">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                
            </table>
            <tr>
                <td><input class="btn btn-dark m-2 text-center" type="submit" value="Login"></td>
            </tr>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    
    </div>
    
    {% endblock content %}







   
</body>
</html>





