{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
</head>

<body>

{% block content %}
<nav class="nav nav-pills nav-fill bg-dark py-2">
    <a class="nav-link active text-light" aria-current="page" href="#">username: {{request.user}}</a>
    <a class="nav-link text-light" href="{% url 'todolist:create_task' %}">Tambah task</a>
    <a class="nav-link text-light" href="{% url 'todolist:logout' %}">Logout</a>
    <a class="nav-link text-light" href="{% url 'todolist:model' %}">Model Fitur</a>

  </nav>

   
<h5 class="h6">Last login session: {{ last_login }}</h5>


<div class="w-80 d-flex">
    <table class="table table-striped ">
        <thead>
          <tr class="">
            <th class="text-center" scope="col">TodoList</th>
          </tr>
        </thead>
        <tbody>
        {% for todo in todoList %}
          <tr>
            <td class="d-flex flex-column align-items-center" >
                <div class="card " style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{todo.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{todo.date}}</h6>
                    <p class="card-text">{{todo.description}}</p>
                    
                        {%if todo.isFinished %}
                        <a class="btn btn-success" href="{% url 'todolist:update_status' todo.id %}" class="card-link">Sudah</a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'todolist:update_status' todo.id %}" class="card-link">Belum</a>
                        {% endif %}
                 
                    <a  class="btn btn-danger" href="{% url 'todolist:delete_item' todo.id %}" class="card-link">Hapus</a>
                    </div>
                </div>
                {% endfor %}
            </td> 
          </tr>
        </tbody>  
      </table>
</div>
  

{% endblock content %}
    
</body>
</html>



